<div id="message-{{id}}" class="singleComment">
    <p class="comment-user">{{username}} said...</p> 
    <p class="comment">{{text}}</p>
    <p class="commentDate">{{formatDate createdAt}}</p>
</div>

