<footer> 
    <!--Info who wrote the page, copyright data, etc-->
    <p> &copy 2022 Aleia Natividad   San Francisco State University</p>
    <p>Background Image: <a href = "https://goose.game" >Untitled Goose Game</a></p>
</footer>