<script defer type="text/javascript" src="../public/js/validation.js"></script> 

<header> 
    <h1>REGISTER WITH US</h1>
    <h5>Giggle with the Gaggle!</h5>
</header>

<form id="form" class="input-form"
    action="/users/register"
    method="post" 
    enctype="application/x-www-form-urlencoded"
    onsubmit="return validSubmission()">
    <!--Get username-->
    <fieldset>
        <div class="signUpForm"> 
        <!--Get username-->
            <label for="username">User Name: </label><br>
            <input type="text" name="username" id ="username" required><br>

            <!--Username Err messages-->
            <div class="errorMessages">
                <div id="userNameErrAlpha"></div>
                <div id="userNameErrLen"> </div>
            </div>

        <!--Get email-->
            <label for="email">Email Address: </label><br>
            <input type="text" name="email" id="email"><br>
            
            <!--Email Err Messages-->
            <div class="errorMessages">
                <div id="emailError"></div>
            </div>
        
        <!--Get password, do not show password-->
            <label for="pass">Password: </label><br>
            <input type="password" name="password" id="password" required><br>

            <!--Password Err Message-->
            <div class="errorMessages">
                <div id="passwordErrorLen"></div>
                <div id="passwordErrorUpper"></div>
                <div id="passwordErrorNum"></div>
                <div id="passwordErrorSpecial"></div>
            </div>

        <!--Confirm password-->
            <label for="pass">Confirm Password:</label><br>
            <input type="password" name="comPassword" id="comPassword" required><br>

            <!--Passwords do not match-->
            <div class="errorMessages">
                <div id="passMatchError"></div>
            </div>
            
        <!--Confirm you're older than 13-->
            <input type="checkbox" name="age" required>
            <label for="oldEnough">Are you 13 years or older?</label><br>   
            
            <!--Not Old Enough-->
            <br></br>

        <!--Ask user to accept TOS and Privacy Rules (Will not go anywhere)-->
            <input type="checkbox" name="ruleAgreement" required>
            <label for="agreement">Please Accept <a href="">TOS and Privacy Rules</a></label><br> 
            <!--Submit button-->
            <input type="submit" id="submit" value="Submit">
        </div>
    </fieldset>
</form>
